.gradle
gradle.properties
gradle.properties.gpg
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
build/
/captures
.externalNativeBuild
.DS_Store
.cxx/
source_env.sh

# Just ignore all IntelliJ/Android Studio stuff
/.idea
*.iml
