<?xml version="1.0" encoding="utf-8"?><!--
/*
 * Copyright (c) 2020 Kevin Brothaler. All rights reserved.
 *
 * https://github.com/Digipom/easy-media-converter
 *
 * This file is part of Easy Media Converter.
 *
 * Easy Media Converter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Easy Media Converter is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Easy Media Converter.  If not, see <http://www.gnu.org/licenses/>.
 */
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.digipom.easymediaconverter">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- We can get this one by asking for user permission so it shouldn't matter if it's a protected permission. -->
    <uses-permission-sdk-23
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".player.PlayerActivity"
            android:label="@string/title_activity_player"
            android:parentActivityName=".main.MainActivity">
            <intent-filter android:label="@string/title_activity_player_for_share_audio">
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="audio/*" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="content" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:label="@string/title_activity_player_for_share_video">
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="video/*" />
                <data
                    android:mimeType="video/*"
                    android:scheme="content" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:label="@string/title_activity_player_for_share_audio">
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="audio/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="@string/title_activity_player_for_share_video">
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="video/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.MediaExportService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <receiver
            android:name=".receiver.NotificationsReceiver"
            android:exported="false" />
    </application>

    <!-- Used so the send feedback code can work on Android 11. -->
    <!--suppress AndroidElementNotAllowed -->
    <queries>
        <!--suppress AndroidElementNotAllowed -->
        <intent>
            <!--suppress AndroidElementNotAllowed -->
            <action android:name="android.intent.action.SENDTO" />
            <!--suppress AndroidElementNotAllowed -->
            <data android:scheme="mailto" />
        </intent>
    </queries>
</manifest>